@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #0e1c43;
  color: #eff1f4;
}

::-moz-selection {
  background-color: #0e1c43;
  color: #eff1f4;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e53c1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e53c1;
}
